h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* ::placeholder {
  text-transform: capitalize !important;
} */

select,
button {
  cursor: pointer;
}

button {
  border: none;
}

/* textarea {
  font-family: 'Red Hat Text', sans-serif !important;
} */

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.mb {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .lg {
    display: none !important;
  }

  .mb {
    display: block !important;
  }
}
